BASE_PATH=
BASE_API_URL=https://ikoncloud-dev.keross.com/ikon-api
APPLICATION_API_URL=http://localhost:8060
LOGIN_PAGE_URL=/login.html
IKON_PLATFORM_UI_URL=https://ikoncloud-dev.keross.com/ikon-portal